.App {
  font-family: sans-serif;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-flow: column;
  background-color: white;
  height: 100vh;
}

.favourites {
  background-color: lightgrey;
  padding-bottom: 5px;
  text-align: center;
}

.favouriteDetails {
  margin: 1px;
  padding: 0;
  background-color: ghostwhite;
  border: 1px black solid;
}

.favouriteDetails.hide {
  display: none;
}

.favourites-shown {
  display: none;
  background-color: grey;
  justify-content: center;
}

.favourites-shown.show {
  display: block;
}

.input {
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
}

.title h2 {
  text-align: left;
  font: bold;
  color: #ffffff;
  padding: 3.5px;
  margin: 0px;
  text-decoration: none;
}

.title a:hover {
  text-decoration: none;
}

.navigation {
  background-color: dodgerblue;
  height: 45px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav a.active {
  color: black;
  background-color: white;
  margin: 0px;
  height: fit-content;
}

nav p {
  margin: 2px;
}

label {
  font-weight: bold;
  text-align: left;
}

input {
  display: inline-block;
  width: 150px;
  padding: 8px;
  border-radius: 2px;
  border: grey solid 1px;
}

select {
  display: inline-block;
  width: 150px;
  margin-top: 18px;
  padding-top: 8px;
}

.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-success {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-dark {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-warning {
  margin-left: 5px;
  margin-right: 5px;
}

.map {
  flex-grow: 1;
  background-color: #404040;
  display: flex;
  flex-flow: column;
}

.mapContainer {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 18px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sidebarStyle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.profile {
  padding: 25px;
}

.profileDetails {
  display: inline-block;
}

/* .userFavourites {
  background-color: lightblue;
  border: 1px black solid;
} */

.profileFavouriteDetails.hide {
  display: none;
}

.forms {
  text-align: center;
}

.formHeader {
  padding-top: 50px;
}

.savedSearchOptions {
  text-align: left;
}

.logout {
  text-align: center;
  padding-top: 15px;
}

.centre {
  text-align: center;
}

h2 {
  padding: 20px;
  text-align: center;
}
