.App {
  font-family: sans-serif;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow-x: hidden;
}

.home {
  padding-top: 100px;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.welcome {
  flex-grow: 1;
  width: 100%;
  flex-flow: column;
  padding-left: 25px;
  padding-right: 25px;
}

.icon {
  padding-top: 1px;
  padding-left: 10px;
}
.main {
  display: flex;
  flex-flow: column;
  background-color: white;
  height: 100vh;
}

.favourites {
  background-color: lightgray;
  padding-bottom: 5px;
  text-align: center;
}

.favouriteDetails {
  padding: 0;
  background-color: ghostwhite;
  border: 2px black solid;
  border-radius: 4px;
  margin: 5px;
}

.favouriteDetails.hide {
  display: none;
}

.favourites-shown {
  display: none;
  justify-content: center;
}

.favourites-list {
  background-color: rgb(253, 125, 61);
  padding: 5px;
  border-radius: 4px;
}

.favourites-shown h4 {
  color: white;
}

.favourites-shown.show {
  display: block;
}

.input {
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
}

.title {
  padding: 0;
}

.title h2 {
  text-align: left;
  font: bold;
  color: #ffffff;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin: 0px;
  text-decoration: none;
}

.title a:hover {
  text-decoration: none;
}

.navigation {
  background-color: rgb(24, 182, 192);
  height: 45px;
}

.links {
  float: right;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav a.active {
  color: black;
  background-color: white;
  margin: 0px;
  height: fit-content;
}

nav p {
  margin: 2px;
}

label {
  font-weight: bold;
  text-align: left;
}

.form-control-custom {
  width: 150px;
}

input {
  display: inline-block;
  width: 10px;
  padding: 8px;
}

select {
  display: inline-block;
  width: 150px;
  margin-top: 10px;
  padding-top: 8px;
}

.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  border: none;
}

.btn:hover {
  background-color: gray;
  color: white;
}

.btn-black {
  background-color: rgb(74, 74, 74);
  color: white;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-black:hover {
  background-color: rgb(54, 54, 54);
}

.btn-light-teal {
  background-color: rgb(24, 182, 192);
  color: white;
  border: none;
}

.btn-light-teal:hover {
  background-color: rgb(34, 172, 182);
}

.btn-dark-teal {
  background-color: rgb(18, 138, 140);
  color: white;
  margin: 0px;
}

.btn-dark-teal.active {
  background-color: rgb(8, 128, 130);
}

.btn-dark-teal:hover {
  background-color: rgb(8, 128, 130);
}

.btn-orange {
  background-color: rgb(233, 124, 70);
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-orange:hover {
  background-color: rgb(223, 114, 60);
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-dark {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-warning {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-info {
  margin-left: 5px;
  margin-right: 5px;
}

.map {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.mapContainer {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 18px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sidebarStyle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.user {
  display: inline;
}

.userProfile {
  width: 500px;
}

.profile {
  padding: 25px;
}

.profileDetails {
  display: inline-block;
}

.profileFavouriteDetails {
  background-color: ghostwhite;
  border: 2px black solid;
  border-radius: 4px;
  margin: 5px;
  width: 500px;
  padding: 10px;
}

.profileFavouriteDetails.hide {
  display: none;
}

.forms {
  text-align: center;
}

.formHeader {
  padding-top: 50px;
}

.savedSearchOptions {
  text-align: left;
}

.logout {
  text-align: center;
  padding-top: 15px;
}

.centre {
  text-align: center;
}

h2 {
  padding: 20px;
  text-align: center;
}

#poi {
  margin: 0px;
}
