.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow-x: hidden;
}

.home {
  display: flex;
  flex-flow: column;
  background-color: white;
  height: 100vh;
}

.getDirections {
  background-color: lightgrey;
  padding: 10px;
}

nav {
  background-color: dodgerblue;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  color: white;
}

nav a.active {
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

label {
  font-weight: bold;
  display: inline-block;
  width: 250px;
  padding: 15px;
  position: relative;
}

input {
  display: inline-block;
  width: 150px;
  padding: 8px;
  border-radius: 2px;
  border: grey solid 1px;
}

select {
  display: inline-block;
  width: 150px;
  margin-top: 18px;
  padding-top: 8px;
}

.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-dark {
  margin-left: 5px;
  margin-right: 5px;
}

.map {
  flex-grow: 1;
  background-color: #404040;
  display: flex;
  flex-flow: column;
}

.mapContainer {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 18px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

.sidebarStyle {
  /*display: none; */
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.profileDetails {
  display: inline-block;
}
